{
  "name": "website",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "prepos/sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "prepos/pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "prepos/pug/servicios.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"servicios.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "prepos/pug/diseno-ui.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"diseno-ui.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "prepos/pug/identidad-corporaativa.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"identidad-corporaativa.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "prepos/pug/identidad-corporativa.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"identidad-corporativa.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "prepos/pug/pagina-web.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"pagina-web.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "prepos/pug/acerca-de.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"acerca-de.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "prepos/pug/mapsite.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"mapsite.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/assets/css/style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "src/pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/acerca-de.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/acerca-de.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/servicios/servicios.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/servicios/servicios.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/servicios/pagina-web.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/servicios/pagina-web.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/servicios/identidad-corporativa.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/servicios/identidad-corporativa.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/servicios/diseno-ui.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/servicios/diseno-ui.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/help/mapsite.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/help/mapsite.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "dist/assets/js/all.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "prepos",
      "prepos/sass",
      "dist",
      "dist/assets",
      "src",
      "src/pug"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "prepos/pug/acerca-de.pug",
      "imports": [
        "prepos/pug/lib/variables.pug",
        "prepos/pug/lib/mixins.pug",
        "prepos/pug/base/head.pug",
        "prepos/pug/base/header.pug",
        "prepos/pug/components/contact_2.pug",
        "prepos/pug/base/footer.pug"
      ]
    },
    {
      "path": "prepos/pug/diseno-ui.pug",
      "imports": [
        "prepos/pug/lib/variables.pug",
        "prepos/pug/lib/mixins.pug",
        "prepos/pug/base/head.pug",
        "prepos/pug/base/header.pug",
        "prepos/pug/components/contact_2.pug",
        "prepos/pug/base/footer.pug"
      ]
    },
    {
      "path": "prepos/pug/identidad-corporativa.pug",
      "imports": [
        "prepos/pug/lib/variables.pug",
        "prepos/pug/lib/mixins.pug",
        "prepos/pug/base/head.pug",
        "prepos/pug/base/header.pug",
        "prepos/pug/components/contact_2.pug",
        "prepos/pug/base/footer.pug"
      ]
    },
    {
      "path": "prepos/pug/index.pug",
      "imports": [
        "prepos/pug/lib/variables.pug",
        "prepos/pug/lib/mixins.pug",
        "prepos/pug/base/head.pug",
        "prepos/pug/base/header.pug",
        "prepos/pug/components/categories.pug",
        "prepos/pug/components/_faq.pug",
        "prepos/pug/components/contact_1.pug",
        "prepos/pug/components/contact_2.pug",
        "prepos/pug/base/footer.pug"
      ]
    },
    {
      "path": "prepos/pug/mapsite.pug",
      "imports": [
        "prepos/pug/lib/variables.pug",
        "prepos/pug/lib/mixins.pug",
        "prepos/pug/base/head.pug",
        "prepos/pug/base/header.pug",
        "prepos/pug/components/contact_2.pug",
        "prepos/pug/base/footer.pug"
      ]
    },
    {
      "path": "prepos/pug/pagina-web.pug",
      "imports": [
        "prepos/pug/lib/variables.pug",
        "prepos/pug/lib/mixins.pug",
        "prepos/pug/base/head.pug",
        "prepos/pug/base/header.pug",
        "prepos/pug/components/contact_2.pug",
        "prepos/pug/base/footer.pug"
      ]
    },
    {
      "path": "prepos/pug/servicios.pug",
      "imports": [
        "prepos/pug/lib/variables.pug",
        "prepos/pug/lib/mixins.pug",
        "prepos/pug/base/head.pug",
        "prepos/pug/base/header.pug",
        "prepos/pug/components/contact_2.pug",
        "prepos/pug/base/footer.pug"
      ]
    },
    {
      "path": "prepos/sass/style.scss",
      "imports": [
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/fontawesome.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/solid.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/regular.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/brands.scss",
        "prepos/sass/lib/_variables.scss",
        "prepos/sass/lib/_mixins.scss",
        "prepos/sass/lib/_functions.scss",
        "prepos/sass/layout/_bootstrap_reboot.scss",
        "prepos/sass/layout/_site.scss",
        "prepos/sass/base/_links.scss",
        "prepos/sass/base/_buttons.scss",
        "prepos/sass/base/_typography.scss",
        "prepos/sass/base/_tables.scss",
        "prepos/sass/components/_header.scss",
        "prepos/sass/components/_hero.scss",
        "prepos/sass/components/_carousel.scss",
        "prepos/sass/components/_categories.scss",
        "prepos/sass/components/_text.scss",
        "prepos/sass/components/_us.scss",
        "prepos/sass/components/_faq.scss",
        "prepos/sass/components/_modus.scss",
        "prepos/sass/components/_contact.scss",
        "prepos/sass/components/_project.scss",
        "prepos/sass/components/_footer.scss",
        "prepos/sass/components/_media.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_variables.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_mixins.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_core.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_larger.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_fixed-width.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_list.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_bordered-pulled.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_animated.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_rotated-flipped.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_stacked.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_icons.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_screen-reader.scss"
      ]
    },
    {
      "path": "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/brands.less",
      "imports": [
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_variables.less"
      ]
    },
    {
      "path": "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/fontawesome.less",
      "imports": [
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_variables.less",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_mixins.less",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_core.less",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_larger.less",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_fixed-width.less",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_list.less",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_bordered-pulled.less",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_animated.less",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_rotated-flipped.less",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_stacked.less",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_icons.less",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_screen-reader.less"
      ]
    },
    {
      "path": "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/regular.less",
      "imports": [
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_variables.less"
      ]
    },
    {
      "path": "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/solid.less",
      "imports": [
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_variables.less"
      ]
    },
    {
      "path": "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/v4-shims.less",
      "imports": [
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_variables.less",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/less/_shims.less"
      ]
    },
    {
      "path": "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/brands.scss",
      "imports": [
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_variables.scss"
      ]
    },
    {
      "path": "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/fontawesome.scss",
      "imports": [
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_variables.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_mixins.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_core.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_larger.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_fixed-width.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_list.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_bordered-pulled.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_animated.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_rotated-flipped.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_stacked.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_icons.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_screen-reader.scss"
      ]
    },
    {
      "path": "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/regular.scss",
      "imports": [
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_variables.scss"
      ]
    },
    {
      "path": "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/solid.scss",
      "imports": [
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_variables.scss"
      ]
    },
    {
      "path": "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/v4-shims.scss",
      "imports": [
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_variables.scss",
        "fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/scss/_shims.scss"
      ]
    },
    {
      "path": "src/sass/style.scss",
      "imports": [
        "src/sass/lib/_variables.scss",
        "src/sass/lib/_mixins.scss",
        "src/sass/lib/_functions.scss",
        "src/sass/layout/_bootstrap_reboot.scss",
        "src/sass/layout/_site.scss",
        "src/sass/layout/_grid.scss",
        "src/sass/base/_typography.scss",
        "src/sass/base/_icons.scss",
        "src/sass/base/_links.scss",
        "src/sass/base/_buttons.scss",
        "src/sass/components/_header.scss",
        "src/sass/components/_hero.scss",
        "src/sass/components/_categories.scss",
        "src/sass/components/_problem_story.scss",
        "src/sass/components/_text.scss",
        "src/sass/components/_us.scss",
        "src/sass/components/_pack.scss",
        "src/sass/components/_faq.scss",
        "src/sass/components/_modus.scss",
        "src/sass/components/_contact.scss",
        "src/sass/components/_project.scss",
        "src/sass/components/_footer.scss",
        "src/sass/components/_media.scss"
      ]
    },
    {
      "path": "src/pug/index.pug",
      "imports": [
        "src/pug/lib/variables.pug",
        "src/pug/lib/mixins.pug",
        "src/pug/base/head.pug",
        "src/pug/base/header.pug",
        "src/pug/components/index/_hero.pug",
        "src/pug/components/index/categories.pug",
        "src/pug/components/_faq.pug",
        "src/pug/components/contact_1.pug",
        "src/pug/components/contact_2.pug",
        "src/pug/base/footer.pug"
      ]
    },
    {
      "path": "src/pug/acerca-de.pug",
      "imports": [
        "src/pug/lib/variables.pug",
        "src/pug/lib/mixins.pug",
        "src/pug/base/head.pug",
        "src/pug/base/header.pug",
        "src/pug/components/contact_2.pug",
        "src/pug/base/footer.pug"
      ]
    },
    {
      "path": "src/pug/servicios/identidad-corporativa.pug",
      "imports": [
        "src/pug/lib/variables.pug",
        "src/pug/lib/mixins.pug",
        "src/pug/base/head.pug",
        "src/pug/base/header.pug",
        "src/pug/components/identidad_corporativa/_hero.pug",
        "src/pug/components/identidad_corporativa/_explain.pug",
        "src/pug/components/identidad_corporativa/_packege.pug",
        "src/pug/components/identidad_corporativa/_boxpills.pug",
        "src/pug/components/contact_2.pug",
        "src/pug/base/footer.pug"
      ]
    },
    {
      "path": "src/pug/servicios/diseno-ui.pug",
      "imports": [
        "src/pug/lib/variables.pug",
        "src/pug/lib/mixins.pug",
        "src/pug/base/head.pug",
        "src/pug/base/header.pug",
        "src/pug/components/contact_2.pug",
        "src/pug/base/footer.pug"
      ]
    },
    {
      "path": "src/pug/servicios/pagina-web.pug",
      "imports": [
        "src/pug/lib/variables.pug",
        "src/pug/lib/mixins.pug",
        "src/pug/base/head.pug",
        "src/pug/base/header.pug",
        "src/pug/components/contact_2.pug",
        "src/pug/base/footer.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}