footer
 .footer
  .container-fluid
   .row
    .col-md-3.col-12.offset-md-1
     .footer--logo
      a(href="index.html")
       .logo.logo--footer: img(src="img/brand/imagotipo_rgb.png", alt="logo brand")
    .col-md-1.d-none.d-md-block.offset-md-4
     h5 Compañia
     a(href="#"): p Acerca de
     a(href="#"): p Contacto
    .col-md-1.d-none.d-md-block.companiabottom
     a(href="#"): p Ayuda
     a(href="#"): p Blog
    .col-md-1.d-none.d-md-block
     h5 ¿Qué hacemos?
     a(href="servicios.html"): p Servicios
     a(href="#"): p Proyectos
   .pd--monlogo.container.d-none.d-sm-block
    .d-flex.justify-content-center.justify-content-md-start
     a(href="#"): p.p-1 © monlogo
     a(href="#"): p.p-1 Condiciones
     a(href="#"): p.p-1 Mapa del sitio
     img(src="img/iconos/planeta.png", class="img__planeta", alt="planeta")
     a(href="#"): p.p-1 español
     a(href="#"): p.p-1 English
     a(href="#", class="ml-md-auto"): img(src="img/iconos/facebook.png", alt="facebook")
     a(href="https://www.instagram.com/monlogoteam"): img(src="img/iconos/instagram.png", class="", alt="instagram")
     a(href="https://wa.me/582416353509?text=Hola%20%F0%9F%91%8B%20me%20interesa%20sus%20servicios%2C%20pero%20tengo%20una%20duda"): img(src="img/iconos/whatsapp.png", class="", alt="facebook")
   .pd--monlogo.container.d-block.d-sm-none
    .row.d-flex.justify-content-center
     .col-12
      a(href="#"): p.p-1.text-center © monlogo
     .col-12
      a(href="#"): p.p-1 Condiciones
      a(href="#"): p.p-1 Ayuda
      a(href="#"): p.p-1 Mapa del sitio
     .col-12
      img(src="img/iconos/planeta.png", class="img__planeta", alt="planeta")
      a(href="#"): p.p-1 español
      a(href="#"): p.p-1 English
     .col-12
      a(href="#", class="ml-md-auto"): img(src="img/iconos/facebook.png", alt="facebook")
      a(href="https://www.instagram.com/monlogoteam"): img(src="img/iconos/instagram.png", class="", alt="instagram")
      a(href="https://wa.me/582416353509?text=Hola%20%F0%9F%91%8B%20me%20interesa%20sus%20servicios%2C%20pero%20tengo%20una%20duda"): img(src="img/iconos/whatsapp.png", class="", alt="facebook")

// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js", integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n", crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
script(src="js/index.js")