header.header
 nav(class="navbar navbar-expand-lg navbar-light bg-light sticky-top")
  .container-fluid
   a(class="navbar-brand", href="index.html")
    .logo.logo__header: img(src="img/brand/imagotipo_rgb.png", alt="logo brand")
   button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  
   div(class="collapse navbar-collapse", id="navbarSupportedContent")
    ul(class="navbar-nav mr-auto")
     li.nav-item
      a(class="nav-link", href="#") Home
     li.nav-item
      a(class="nav-link", href="#") Categorías
     li.nav-item
      a(class="nav-link", href="#") Cómo funcionamos
     li.nav-item
      a(class="nav-link", href="#") blog

   div(class="collapse navbar-collapse", id="navbarSupportedContent")
    ul(class="navbar-nav ml-auto iconos__m")
     li.nav-item
      a(class="nav-link", href="#")
       img(src="img/iconos/facebook.png", class="iconos__menu", alt="icono facebook")
     li.nav-item
      a(class="nav-link", href="#")
       img(src="img/iconos/instagram.png", class="iconos__menu", alt="icono instagram")
     li.nav-item
      a(class="nav-link", href="#")
       img(src="img/iconos/whatsapp.png", class="iconos__menu", alt="icono whatsapp")
   a(class="btn btn-outline-secondary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3", href="#") Contacto
