
<!-- faq-->
<section class="faq-index">
  <div class="container">
    <div class="faq-index__title">
      <div class="faq-index__title--text">
        <h1>Lorem ipsum sarel</h1>
        <div class="line__vertical-03"></div>
      </div>
    </div>
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <section class="faq">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-10 offset-1 offset-md-0 pb-3">
              <h6 class="text-sm-left text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique quod placeat atque eveniet esse. Mollitia dolorum possimus eveniet.</h6>
              <ul class="wow faq-list fadeInUp" id="faq-list" style="visibility: visible; animation-name: fadeInUp;">
                <li><a class="collapsed aqui" data-toggle="collapse" href="#faq1">¿Qué es una marca comercial?</a>
                  <div class="collapse" id="faq1">
                    <p>
                      La marca comercial es el signo con que 
                      se identifica a un producto o servicio 
                      en el mercado.
                    </p>
                  </div>
                </li>
                <li><a class="collapsed aqui" data-toggle="collapse" href="#faq2">¿Qué es el registro de marca?</a>
                  <div class="collapse" id="faq2">
                    <p>
                      La marca comercial es el signo con que 
                      se identifica a un producto o servicio 
                      en el mercado.
                    </p>
                  </div>
                </li>
                <li><a class="collapsed aqui" data-toggle="collapse" href="#faq3">¿Qué se puede registrar como Marca?</a>
                  <div class="collapse" id="faq3">
                    <p>
                      La marca comercial es el signo con que 
                      se identifica a un producto o servicio 
                      en el mercado.
                    </p>
                  </div>
                </li>
                <li><a class="collapsed aqui" data-toggle="collapse" href="#faq4">¿Qué son las clases de productos y servicios?</a>
                  <div class="collapse" id="faq4">
                    <p>
                      La marca comercial es el signo con que 
                      se identifica a un producto o servicio 
                      en el mercado.
                    </p>
                  </div>
                </li>
              </ul>
            </div><a class="d-flex justify-content-end" href="#">ver más ></a>
          </div>
          <div class="col-md-3 col-12 offset-md-1 offset-0 img-re">
            <div class="img-rect"></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>