
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="contact-1__title">
        <div class="contact-1--text">
          <h4 class="text-left">Lorem ipsum dolor ipsum dolor</h4>
          <h6 class="text-left">Vestibulum ut dui sed odio elementum facilisis non sed orci. lobortis. Maecenas leo nulla, ornare varius diam eget, commodo. ornare varius diam eget, commodo.</h6>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-secondary" type="button">Contactenos</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-secondary" type="button">Cómo funcionamos</button>
    </div>
  </div>
</div>