section.o-hero.-index.-padMdTopBottom
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Lleva tu marca al siguiente nivel
   .a-heroContent__text
    h3 Nos dedicamos a diseñar y desarrollar productos increíbles para la web y llevar a tu marca al siguiente nivel. Haremos que tu marca sea memorable para las personas y un punto de referencia para tu industria.
  .m-heroContent__img
   img.a-imgIndex(src=linksUrl[1]+"assets/img/astro/astro_him_rev1.png", alt="astro")
div
 .curve-container
  .curve-bg