// faq
section.faq-index.-padMdTopBottom
 .m-faq.-ContainerUniversal
  div(class="m-faq__question tab-pane fade show active", id="pills-home", role="tabpanel", aria-labelledby="pills-home-tab")
   .faq-index__title
    .faq-index__title--text
     h2 Cómo operamos en Monlogo
   section.faq
    h4.text-sm-left.text-center
     | Si tienes dudas, aqui abajo hemos dejado algunas preguntas con sus respectivas respuesta, si su pregunta no está en las que están abajo, le invitamos a contactarnos
    .-padSmTopBottom
     ul(id="faq-list", class="wow faq-list fadeInUp", style="visibility: visible; animation-name: fadeInUp;")
      li
       a(data-toggle="collapse", class="collapsed aqui", href="#faq1")
        | ¿Porqué elegir a monlogo?
       .collapse#faq1
        p
         |La marca comercial es el signo con que 
         |se identifica a un producto o servicio 
         |en el mercado.
      li
       a(data-toggle="collapse", class="collapsed aqui", href="#faq2")
        | ¿Cómo trabajamos?
       .collapse#faq2
        p
         |La marca comercial es el signo con que 
         |se identifica a un producto o servicio 
         |en el mercado.
      li
       a(data-toggle="collapse", class="collapsed aqui", href="#faq3")
        | ¿Por donde los contacto?
       .collapse#faq3
        p
         |La marca comercial es el signo con que 
         |se identifica a un producto o servicio 
         |en el mercado.
      li
       a(data-toggle="collapse", class="collapsed aqui", href="#faq4")
        | ¿Cuál es la metodología de pago? ¿Y comó pago?
       .collapse#faq4
        p
         |La marca comercial es el signo con que 
         |se identifica a un producto o servicio 
         |en el mercado.
     a(href=linksUrl[1], class="d-flex justify-content-end") ver más >
  .m-faq__img.img-re
   .img-rect
    img(src=linksUrl[1]+"assets/img/astro/astro_faq_rev1.png", alt="")