.carousel-mon(data-scrollable)
 div(class="carousel__container d-flex justify-content-md-center", data-scrollable-inner, style="margin-top: -10px; bottom: -57px;")
  +projectBox("identidad-corporativa.html","005_rev3.png","project 1","Identidad Corporativa","Crea con nosotros la imagen de tu marca")
  +projectBox("diseno-ui.html","004_rev1.png","project 2","Diseño user interface","Crearemos el diseño de tu proximo website")
  +projectBox("pagina-web.html","003_rev1.png","project 3","Paginas web","Hagamos una pagina web increíble")