section.o-contact.-padSmTopBottom
 .m-contactContent.-ContainerUniversal
  .m-contactAlert
   .m-contact__title
    h3.text-left Ya te mostramos nuestras soluciones, ¿y ahora que?
   .m-contact__text
    h4.text-left Si te ha interesado nuestros servicios o tienes alguna duda, sin ningun compromiso te invitamos a contactarnos
  .m-contact__button
   .a-button
    a.-fillLightin(href=linksUrl[1]) Contactar