// Buttons
.btn.btn-primary {
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 5px 15px;
    border-radius: 1.5rem;
    border-color: $color-secondary;
    background-color: $color-secondary;
    &:hover {
        color: $color-lighting;
        background-color: darken($color-secondary, 5%);
        border-color: none;
        transition-property: color, background-color, border-color;
        transition-duration: 0.15s, 0.15s, 0.15s;
        transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
        transition-delay: 0s, 0s, 0s;
    }
}
.btn.btn-lighting {
    font-size: 1.2rem;
    border-color: $color-primary;
    background-color: $color-lighting;
    border-radius: 20px;
    color: $color-primary;
    &:hover {
        color: $color-primary;
        background-color: $color-lightengrey;
        border-color: none;
        transition-property: color, background-color, border-color;
        transition-duration: 0.15s, 0.15s, 0.15s;
        transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
        transition-delay: 0s, 0s, 0s;
    }
}
.btn.btn-secondary {
    font-size: 1.2rem;
    border-color: $color-variation;
    background-color: $color-variation;
    border-radius: 20px;
    &:hover {
        color: $color-lighting;
        background-color: $color-primary;
        border-color: none;
        transition-property: color, background-color, border-color;
        transition-duration: 0.15s, 0.15s, 0.15s;
        transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
        transition-delay: 0s, 0s, 0s;
    }
}
a.btn, a .btn {
    border-radius: 20px;
    &.btn-outline-secondary {
        color: $color-primary;
        border-color: $color-primary;
        &:hover {
            color: $color-lighting;
            background-color: $color-primary;
            border-color: none;
            transition-property: color, background-color, border-color;
            transition-duration: 0.15s, 0.15s, 0.15s;
            transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
            transition-delay: 0s, 0s, 0s;
        }
    }
}