.carousel-mon(data-scrollable)
 div(class="carousel__container d-flex justify-content-md-center", data-scrollable-inner, style="margin-top: -10px; bottom: -57px;")
  +projectBox("servicios.html","001_rev1.jpg","project 1","Identidad Corporativa","Crea con nosotros la imagen de tu marca")
  +projectBox("#","002_rev1.jpg","project 2","Diseño user interface","Crearemos el diseño de tu proximo website")
  +projectBox("#","003_rev1.jpg","project 3","Paginas web","Hagamos una pagina web increíble")