.carousel-mon(data-scrollable)
 div(class="carousel__container d-flex justify-content-md-center", data-scrollable-inner, style="margin-top: -10px; bottom: -57px;")
  +projectBox("servicios.html","001_rev1.jpg","project 1","title","Duis mollis porttitor ligula.")
  +projectBox("#","002_rev1.jpg","project 2","title","subtitle")
  +projectBox("#","003_rev1.jpg","project 3","title","subtitle")