.container
 .row
  .col-md-7
   .contact-1__title
    .contact-1--text
     h4.text-left Lorem ipsum dolor ipsum dolor
     .line__vertical-06
     h6.text-left Vestibulum ut dui sed odio elementum facilisis non sed orci. lobortis. Maecenas leo nulla, ornare varius diam eget, commodo. ornare varius diam eget, commodo.
  .col-md-2.contact__btn
   a(href="#")
    button(type="button", class="btn btn-lighting") Contactenos
  .col-md-3.contact__btn
   a(href="#")
    button(type="button", class="btn btn-secondary") Cómo funcionamos