include lib/variables.pug
include lib/mixins.pug
<!DOCTYPE html>
html(lang="en")
 include base/head.pug
  title Mapsite
 body
  // menu
  include base/header.pug

  // Contact 2
  section.contact
   include components/contact_2.pug

  // footer
  include base/footer.pug