include ../lib/variables.pug
include ../lib/mixins.pug
<!DOCTYPE html>
html(lang="en")
 include ../base/head.pug
  title #{titles[2]} - #{titles[6]}
 body
  // menu
  include ../base/header.pug

  // hero
  include ../components/identidad_corporativa/_hero.pug

  // Explain
  include ../components/identidad_corporativa/_explain.pug

  // pack service
  include ../components/identidad_corporativa/_packege.pug
  
  //Boxes pills
  include ../components/identidad_corporativa/_boxpills.pug

  // Contact 2
  include ../components/contact_2.pug

  // footer
  include ../base/footer.pug