section.box-explanation.-padMdTopBottom
 .boxes--fly
  .boxes--fly-1
   .boxes__img--fly-1
    img(src=linksUrl[1]+"assets/img/001.png", alt="prueba")
   .boxes__text--fly-1
    .boxes--text
     h2 Tener un logo
     p Es el embajador, la primera cara que verán de la marca. Para tener un buen logo tinene que ser legible, distinguible y atemporal. Así la marca sera recordada por el público.
  .boxes--fly-2
   .boxes__text--fly-2
    .boxes--text
     h2 El manual de ideantidad visual
     p Es un documento que incluye los lineamiento gráficos, usos, aplicaciones y restricciones para la implementación de la marca.
      |Esto le servirá a que si trabaja con otros diseñaores o programadores, puedan implementar correctamente la marca.
   .boxes__img--fly-2
    img(src=linksUrl[1]+"assets/img/002.png", alt="prueba")
  .boxes--fly-3
   .boxes__text--fly-3
    .boxes--text.order-2.order-sm-1
     h2 Formatos de entrega son
     p .psd, .ai, .pdf, .jpg, .png, .svg y entre otros. El manual se entregara en formato  .pdf
      |Todos los elementos se  enviarán al correo electronico proporcionado por el cliente.
    img(class="order-1 order-sm-2",src=linksUrl[1]+"assets/img/003.png", alt="prueba")
