section.o-hero.-service.-padMdTop
 .m-heroContent.-ContainerUniversal
  .m-heroContent__text
   .a-heroContent__title
    h1 Identidad Corporativa
   .a-heroContent__text
    h3 Nos dedicamos a diseñar y desarrollar productos increíbles para la web y llevar a tu marca al siguiente nivel
  .m-heroContent__img
   img.a-imgIndex(src=linksUrl[1]+"assets/img/astro/astro_him_rev1.png", alt="astro")
div
 .curve-container
  .curve-bg