section.o-packs.-padBgBottom
 .m-packs.-ContainerMd
  .m-pack__border
   .m-pack__box.a-pack
    .m-pack__details
     h2 Pack Basico
     h3 desde usd$ 75
     p Lorem ipsum dolor sit amet cons dolor ctetur, adipisicing elit. Alias porro dolcabo sapiente perspiciatis
    .m-pack__list
     ol.m-listContent.-arrowCircle
      li.a-packItem Un (1) logo a partir de dos (2) propuestas*
      li.a-packItem Un (1) ícono para perfil de redes sociales
      li.a-packItem Un (1) manual de identidad visual de la marca en formato .pdf
      li.a-packItem Tres (3) revisiones por diseño*
      li.a-packItem Tiempo aproximado de la realización del trabajo Veinte (20) días

  .m-pack__border
   .m-pack__box.a-pack
    .m-pack__details
     h2 Pack Basico
     h3 desde usd$ 75
     p Lorem ipsum dolor sit amet cons dolor ctetur, adipisicing elit. Alias porro dolcabo sapiente perspiciatis
    .m-pack__list
     ol.m-listContent.-arrowCircle
      li.a-packItem Un (1) logo a partir de dos (2) propuestas*
      li.a-packItem Un (1) ícono para perfil de redes sociales
      li.a-packItem Un (1) manual de identidad visual de la marca en formato .pdf
      li.a-packItem Un (1) diseño de tarjeta de presentación a partir de dos (2) propuestas
      li.a-packItem Un (1) diseño de background que podrá usarse para fondo de artes publicitarios y/o papelería
      li.a-packItem Tres (3) revisiones por diseño*
      li.a-packItem Tiempo aproximado de la realización del trabajo Veinte (30) días
