.faq-index {
    height: 600px;
    background: linear-gradient(to top, $color-lighting 0%, $color-lightengrey 100%);
    display: flex;
    align-items: center;
    //margin-top: 2rem;
}
.faq-index .faq {
    //padding: 2rem 0;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    .container {
        widows: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .faq-list {
        padding: 0;
        list-style: none;
        a img {
            font-size: 1em;
            position: absolute;
            right: 0;
            top: 20px;
        }
        /* a.collapsed i:active {
            animation: plusRotate 3s 1ms;
        } */
        li {
            border-bottom: 1px solid $color-lightgrey;
        }
        /* a.collapsed {
            color: #37797c;
        } */
        a {
            color: $color-primary;
            padding: 15px 0;
            display: block;
            position: relative;
            font-family: $font2;
            font-size: $fontS2;
            font-weight: 300;
            padding-right: 20px;
            // background: $color-lighting;
        }
        a:hover {
            color: $color-grey;
        }
        p {
            margin-bottom: 20px;
        }
    }
    /* ul {
        margin-top: 0;
        margin-bottom: 1rem;
    } */
    li::marker {
        visibility: visible;
    }
    a .btn {
        margin-bottom: 20px;
    }
}
.img-rect {
    text-align: center;
    width: 300px;
    height: 370px;
    img {
        width: 200px;
    }
}


@keyframes plusRotate {
    0% {
        transform: rotate(-130deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.fadeInUp {
    animation-name: fadeInUp;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

