.faq-index {
    background: linear-gradient(to top, $color-lightin 0%, $color-lightgrey 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-top: 2rem;
}

.m-faq {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-gap: 0 $spaceRg;
    grid-template-areas: "faqQuestions faqImg";
    justify-content: center;
    align-items: center;
}

.m-faq__question {
    grid-area: faqQuestions;
}

.m-faq__img {
    grid-area: faqImg;
}

.faq-index .faq {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .faq-list {
        padding: 0;
        list-style: none;
        a img {
            font-size: 1em;
            position: absolute;
            right: 0;
            top: 20px;
        }
        li {
            border-bottom: 1px solid $color-grey;
            padding-bottom: 5px;
        }
        p {
            margin-bottom: 20px;
        }
    }
    li::marker {
        visibility: visible;
    }
}
.img-rect {
    height: 370px;
    display: flex;
    justify-content: center;
    img {
        object-fit: contain;
        height: 100%;
    }
}


@keyframes plusRotate {
    0% {
        transform: rotate(-130deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.fadeInUp {
    animation-name: fadeInUp;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

