// Menus, y navegación
.o-nav {
    position: relative;
    z-index: 2;
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
}

.o-navFixedContainer {
    width: 100%;
    height: 80px;
    transition: height 0.25s ease-in-out 0s;
    // border-bottom: 1px solid $color-primary;
    @include mediaQueriesMd {
        height: 65px;
    }
}

.o-nav__content {
    height: inherit;
    display: grid;
    grid-template-columns: 15% 1fr 10%;
    grid-gap: 0 10px;
    grid-template-areas: "brand contentItem buttonCTA";
    padding: 4px 7% 5px;
    @include mediaQueriesLg {
        padding: 8px 5% 5px;
        grid-template-columns: 15% 1fr 15%;
        grid-gap: 0 $spaceXs;
    }
    @include mediaQueriesMd {
        padding: 8px 15px 5px;
        grid-template-columns: 15% 1fr 15%;
        grid-template-areas: "burguer brand buttonCTA";
    }
}

.a-brand {
    display: flex;
    align-items: center;
    &__Img {
        grid-area: brand;
        width: 100%;
    }
    @include mediaQueriesLg {
        &__Img {
            width: 110%;
        }
    }
    @include mediaQueriesMd {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        &__Img {
            width: 150px;
        }
    }
}

.a-brandMobile {
    padding-top: $spaceXs;
    display: none;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    .a-brandMobile__Img {
        width: 150px;
    }
    @include mediaQueriesMd {
        display: block;
    }
}

.m-itemContent {
    display: flex;
    align-items: center;
    &.-isActive {
        top: 0;
        left: 0;
        bottom: 0;
        z-index: $spaceBg;
    }
    .a-burguerOut {
        display: none;
    }
    .a-brand {
        display: none;
    }
    .-outlinePrimary {
        display: none;
    }
    @include mediaQueriesMd {
        position: fixed;
        top: -200vh;
        background-color: $color-lightin;
        width: 100vw;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        transition: .3s;
        .a-brand {
            display: block;
        }
        .a-burguerOut {
            display: block;
            position: absolute;
            right: 30px;
            top: 25px;
        }
        .a-button .-outlinePrimary {
            display: flex;
            position: relative;
            left: -2px;
            // font-size: $fontS3;
            // padding: 8px 60px;
        }
    }
}

.m-itemContent__list {
    padding-left: $spaceXs;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    position: relative;
    color: $color-lightin;
    // top: 6px;
    grid-area: contentItem;
    li {
        padding-top: 20px;
        padding-right: $spaceRg;
    }
    @include mediaQueriesMd {
        padding-left: 0;
        margin-top: $spaceSm;
        margin-bottom: $spaceRg;
        flex-direction: column;
        padding-left: 0;
        justify-content: center;
        li {
            padding-left: 10px;
            padding-right: 0;
        }
    }
}

.m-itemContent__media {
    display: flex;
    margin-left: auto;
    .a-facebook {
        content: url('../img/iconos/facebook_white.svg');
    }
    .a-instagram {
        content: url('../img/iconos/instagram_white.svg');
    }
    .a-whatsapp {
        content: url('../img/iconos/whatsapp_white.svg');
    }
    .a-facebook, .a-instagram, .a-whatsapp {
        &:hover {
            border-bottom: 1px dotted $color-primary;
        }
    }
    @include mediaQueriesMd {
        display: none;
    }
}

.m-CallToAction {
    grid-area: buttonCTA;
    display: flex;
    align-items: center;
    position: relative;
    top: 3px;
    .a-iconFund {
        display: none;
    }
    .-outlinePrimary {
        font-size: $fontSM2;
    }
    @include mediaQueriesLg {
        justify-content: flex-end;
    }
    @include mediaQueriesMd {
        .-outlinePrimary {
            display: none;
        }
        .a-iconFund {
            display: inline;
            position: relative;
            z-index: 1px;
            padding-top: 5px;
            &__img {
                width: 30px;
            }
        }
    }
}

.a-burguer {
    grid-area: burguer;
    display: none;
    align-items: center;
    cursor: pointer;
    &__menu {
        width: 18px;
        color: $color-primary;
    }
     @include mediaQueriesMd {
        display: flex;
    }
}