.o-hero {
    position: relative;
    background-color: $color-bg;
    @include mediaQueriesMd {
        padding-top: $spaceBg;
    }
    @include mediaQueriesSm {
        padding-top: 100px;
    }
    @include mediaQueriesXxs {
        padding-top: 90px;
    }
}

.m-heroContent {
    display: grid;
    grid-template-columns: 560px 45%;
    grid-template-rows: 340px;
    grid-gap: 0 $spaceRg;
    grid-template-areas: "imgHero textHero";
    justify-content: center;
    @include mediaQueriesLg {
        grid-template-columns: 55% 1fr;
        grid-template-rows: auto;
        grid-gap: 0 $spaceXs;
        // justify-content: flex-start;
    }
    @include mediaQueriesMd {
        grid-template-columns: 88%;
        grid-template-rows: auto 1fr;
        grid-gap: $spaceXs 0;
        grid-template-areas: "textHero" "imgHero";
    }
    @include mediaQueriesSm {
        grid-template-columns: auto;
    }
}

.m-heroContent__text {
    grid-area: textHero;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h3 {
        color: $color-grey;
    }
    @include mediaQueriesLg {
        padding-left: 0;
    }
}
.a-heroContent__title {
    max-width: 90%;
    padding-bottom: $spaceSm;
    h1 {
        color: $color-lightgrey;
    }
    @include mediaQueriesLg {
        max-width: 100%;
    }
    @include mediaQueriesXs {
        h1 {
            text-align: center;
        }
    }
}

.a-heroContent__text {
    line-height: 1.27;
    padding-bottom: $spaceSm;
    .-alert {
        color: $color-lightgrey;
    }
}

.a-heroContent__button {
    @include mediaQueriesMd {
        // display: flex;
        text-align: center;
    }
    @include mediaQueriesXs {
        .-wierdPrimary {
            padding: 8px 36%;
        }
    }
}

.m-heroContent__img {
    grid-area: imgHero;
    height: 340px;
    display: flex;
    justify-content: center;
    animation: walk 1.5s steps(4) infinite;
    background: url('../../assets/img/astro/sprite_planetario_rev1.png') repeat-x;
    background-position: 0;
    @include mediaQueriesLg {
        // background-position: 5em;
        background-size: 2000px;
    }
    @include mediaQueriesMd {
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        background-size: 2000px;
    }
    @include mediaQueriesSm {
        width: 100%;
        height: 300px;
    }
    @include mediaQueriesXs {
        height: 280px;
        background-size: 1400px;
    }
    @include mediaQueriesXxs {
        height: 190px;
        margin-left: -7%;
    }
    @include mediaQueries0 {
        background-size: 1200px;
    }
}

.a-imgIndex {
    object-fit: contain;
    position: relative;
    width: 45%;
    top: 30px;
    left: $spaceMd;
    @include mediaQueriesMd {
        left: $spaceRg;
    }
    @include mediaQueriesXs {
        left: $spaceXs;
    }
    @include mediaQueriesXxs {
        left: $spaceSm;
    }
}

@keyframes walk {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -2467px;
    }
}
@include mediaQueriesLg {
    @keyframes walk {
        0% {
            background-position: 0px;
        }
        100% {
            background-position: -1998px;
        }
    }
}

@include mediaQueriesXs {
    @keyframes walk {
        0% {
            background-position: 0px;
        }
        100% {
            background-position: -1399px;
        }
    }
}

@include mediaQueries0 {
    @keyframes walk {
        0% {
            background-position: 0px;
        }
        100% {
            background-position: -1199px;
        }
    }
}

.curve-container {
    height: 120px;
    margin-top: -1%;
    margin-bottom: -1px;
    overflow: hidden;
    .curve-bg {
        height: 100%;
        width: 100vw;
        /* padding-bottom: calc(100% * 84 / 1440); */
        background: url('../../assets/img/details/home_hero_curve_rev1.svg') no-repeat center top;
        background-size: 100% 100%;
    }
    @include mediaQueriesXl {
        margin-top: -1.5%;
    }
    @include mediaQueriesLg {
        height: 100px;
        margin-top: -2%;
    }
    @include mediaQueriesMd {
        margin-top: -4%;
    }
    @include mediaQueriesSm {
        margin-top: -5%;
    }
    @include mediaQueriesXs {
        margin-top: -9%;
    }
    @include mediaQueriesXxs {
        margin-top: -11%;
    }
    @include mediaQueries0 {
        margin-top: -12%;
    }
}



.curve-container-md {
    height: 140px;
    background-color: $color-lightgrey;
    margin-top: -1px;
    margin-bottom: -1.5%;
    overflow: hidden;
    .curve-md {
        height: 100%;
        width: 100vw;
        background: url('../../assets/img/details/home_curve_rev2.svg') no-repeat center top;
        background-size: 100% 100%;
    }
}