.carousel-mon {
    width: 100%;
    position: relative;
    // text-align: center;
    display: block;
    p {
      color: $color-lighting;
    }
}
.carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    margin: 30px 0px;
    padding-bottom: 50px;
    display: flex;
    //justify-content: center;
    flex-wrap: nowrap;
    a {
      margin: 0;
      padding: 0;
    }
  }
  
  .carousel__container:hover .carousel-item-mon {
    opacity: .9;
  }
  
  .carousel__container:hover .carousel-item-mon:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
            // transform-origin: center;
    opacity: 1;
  }
  
  .carousel-item-mon {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    // left: -30px;
    display: inline-flex;
    flex-direction: column;
    width: 28vw;
    height: 28vw;
    margin-right: .8rem;
    margin-left: .8rem;
    font-size: 20px;
    word-wrap: break-word;
    cursor: pointer;
    box-shadow: $shadow2;
    transition: 450ms all;
    -webkit-transform-origin: center;
            transform-origin: center;
    &:first-child {
      margin-left: 15px;
      margin-right: 15px;
    }
    /* &:last-child {
      margin-right: 0;
    } */
  }

  
  .carousel-item-mon:hover ~ .carousel-item-mon {
    -webkit-transform: translate3d(80px, 0, 0);
            transform: translate3d(80px, 0, 0);
  }
  
  .carousel-item__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .carousel-item__details {
    width: 400px;
    align-items: flex-start;
    bottom: 0;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: center;
    left: 0;
    opacity: 1;
    transition: 450ms opacity;
    padding: 20px;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: 0;
    h3 {
      display: none;
    }
    p {
      display: none;
    }
    &:hover {
        background: darken($color-sec, $amount: 10%);
        padding: 3rem;
        padding-top: 5rem;
        align-items: flex-start;
        span {
          display: none;
        }
        h3 {
          color: $color-lighting;
          display: block;
          width: 200px;
          padding-bottom: 20px;
          position: relative;
          top: -60px;
        }
        p {
          display: flex;
          flex-direction: column;
          position: relative;
        }
    }
  }
  .badge-primary {
    display: flex;
    align-items: center;
    background-color: darken($color-secondary, $amount: 10%);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    position: relative;
    bottom: -160px;
  }
  .carousel-item__details--img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  
  .carousel-item-mon:hover .carousel-item__details {
    opacity: 1;
  }
  
  .carousel-item__details--title {
    color: $color-lighting;
    margin: 5px 5px 5px 10px;
  }
  
  .carousel-item__details--subtitle {
    color: $color-lighting;
    font-size: $fontS1;
    position: relative;
    top: -60px;
  }
  .carousel-item__details--button {
    border-bottom: 1px solid $color-lighting;
    position: relative;
    top: -60px;
    left: 160px;
  }