.categories {
    height: 640px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    background-attachment: scroll;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: initial;
    background-size: auto;
    // data scroll personalizado
    .container-fluid {
        padding: 0;
    }
    .row {
        margin: 0;
    }
    &__title {
        padding-left: 75px;
        padding-bottom: 0;
        &--text h1 {
            width: 70%;
            padding-bottom: 10px;
        }
        &--text h6 {
            width: 70%;
        }
    }
}
[data-scrollable-inner] {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}
[data-scrollable] {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
.categories-s {
    height: 200px;
    margin-top: 1.5rem;
    .container {
        max-width: 1240px;
    }
    .categories__title {
        &--text h1 {
            margin-top: 10px;
            font-weight: 600;
        }
    }
    .list-group {
        flex-direction: row;
        margin-top: 15px;
    }
    .list-group-item {
        border-radius: 5px;
        border: 1px solid transparent;
        box-shadow: $shadow4;
        text-align: center;
    }
    .list-group-item.active {
        background-color: $color-variation;
        &:hover {
            background-color: $color-alert;
        }
    }
    .list-group-item-action {
        width: auto;
        padding-right: 30px;
        padding-left: 30px;
        margin-left: 15px;
        margin-right: 15px;
        font-family: $font1;
        font-style: normal;
        font-size: $fontS2;
        font-weight: 600;
    }
    .list-group-item-action:first-child {
        margin-left: 45px;
    }
    .tab-content > .active {
        display: flex;
    }
}

.categories__s {
    height: 800px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
   .categories__box {
        display: flex;
        position: relative;
        padding-top: 1rem;
    }
    .categories__box-1 {
        width: 300px;
        height: 560px;
        background-color: $color-lighting;
        border-radius: 20px;
        box-shadow: $shadow3;
        margin-left: 10px;
        padding: 1.8rem;
        padding-bottom: 0;
        position: relative;
    }
    .categories__box-2 {
        width: 330px;
        background-color: $color-lighting;
        border-radius: 20px;
        box-shadow: $shadow3;
        margin-left: 50px;
        padding: 1.8rem;
        position: relative;
        top: 6rem;
    }
}

.fase {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}