
<section class="m-explain">
  <div class="explanation">
    <div class="container-fluid">
      <div class="row">
        <div class="explanation-1 col-md-6 col-12">
          <h2>Lorem ipsum dolor?</h2>
          <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias porro suscipit explicabo sapiente perspiciatis</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, harum facere neque vero eius deserunt magni, ad asperiores voluptatibus eligendi ratione? Porro hic delectus aspernatur ipsum adipisci. Minima, nostrum adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, beatae ex. Vero accusantium rerum harum veniam repellendus expedita laudantium culpa odit voluptate deleniti provident amet cupiditate optio quo, omnis cum?</p>
        </div>
        <div class="col-md-5 col-12">
          <div class="imagen"></div>
        </div>
        <div class="col-md-6 col-12">
          <div class="imagen"></div>
        </div>
        <div class="explanation-1 col-md-6 col-12">
          <h2>Lorem ipsum dolor?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa eos ex cupiditate error non, et ducimus vitae rerum natus, repellat reiciendis, possimus architecto magnam delectus sint veniam! Nostrum, blanditiis delectus!</p><span>hola</span>
          <p>El pago del servicio se hace en su totalidad en el momento de la contratación a través de transferencias via Zelle, envíos de dinero por PayPal o Airtm.</p><span>hola</span>
          <p>
            Todo contacto y comunicación con el cliente será vía correo electrónico y por Whatsapp.* El precio del servicio de propuesta o revisión de diseño adicional es 20 $ USD</p>
        </div>
      </div>
    </div>
  </div>
</section>