
<section class="fase">
  <div class="container-fluid">
    <div class="categories__s">
      <div class="row">
        <div class="col-lg-5 col-12 categories__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates iste laudantium corrupti recusandae excepturi. Mollitia assumenda, cumque, alias ut nihil deserunt ipsa molestiae placeat aliquam debitis repellat repudiandae error nesciunt?</p>
          <p><span>hola</span>El pago del servicio se hace en su totalidad en el momento de la contratación a través de transferencias via Zelle, envíos de dinero por PayPal o Airtm.</p>
          <p><span>H </span>Todo contacto y comunicación con el cliente será vía correo electrónico y por Whatsapp.<br/>* El precio del servicio de propuesta o revisión de diseño adicional es 20 $ USD</p>
        </div>
        <div class="categories__box col-lg-7 col-12">
          <div class="categories__box-1"><span></span>
            <h2>Pack Basico</h2>
            <h5>desde usd$ 75</h5>
            <p>Lorem ipsum dolor sit amet cons dolor ctetur, adipisicing elit. Alias porro dolcabo sapiente perspiciatis</p>
            <p><span>hola</span>Un (1) logo a partir de dos (2) propuestas*</p>
            <p><span>hola</span>Un (1) ícono para perfil de redes sociales</p>
            <p><span>hola</span>Un (1) manual de identidad visual de la marca en formato .pdf</p>
            <p><span>hola</span>Tres (3) revisiones por diseño*</p>
            <p><span>hola</span>Tiempo aproximado de la realización del trabajo Veinte (20) días</p>
          </div>
          <div class="categories__box-2"><span></span>
            <h2>Pack Basico</h2>
            <h5>desde usd$ 75</h5>
            <p>Lorem ipsum dolor sit amet cons dolor ctetur, adipisicing elit. Alias porro dolcabo sapiente perspiciatis</p>
            <p><span>hola</span>Un (1) logo a partir de dos (2) propuestas*</p>
            <p><span>hola</span>Un (1) ícono para perfil de redes sociales</p>
            <p><span>hola</span>Un (1) manual de identidad visual de la marca en formato .pdf</p>
            <p><span>hola</span>Un (1) diseño de tarjeta de presentación a partir de dos (2) propuestas</p>
            <p><span>hola</span>Un (1) diseño de background que podrá usarse para fondo de artes publicitarios y/o papelería</p>
            <p><span>hola</span>Tres (3) revisiones por diseño*</p>
            <p><span>hola</span>Tiempo aproximado de la realización del trabajo Veinte (30) días</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>